html {
  overscroll-behavior: none;
}

body {
  --primary-text-color: #eaeaea;
  /* Ref: Valhalla */
  /* https://colors.dopely.top/color-pedia/282c3c */

  padding: 0;
  margin: 0;

  prisen-co {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: scroll;

    background-image:
      url("img/noise.png"),
      /*
      repeating-linear-gradient(0deg, rgb(56,61,82) 0px, rgb(82,82,82) 1px, transparent 1px, transparent 31px),
      repeating-linear-gradient(90deg, rgb(56,61,82) 0px, rgb(56,61,82) 1px, transparent 1px, transparent 31px),
      */
      repeating-linear-gradient(6deg, rgba(56,61,82, 0.35) 0px, rgba(82,82,82, 0.35) 1px, transparent 1px, transparent 31px),
      repeating-linear-gradient(96deg, rgba(56,61,82, 0.35) 0px, rgba(56,61,82, 0.35) 1px, transparent 1px, transparent 31px),
      radial-gradient(circle at center, rgb(0,0,0, 0%) 0%, rgb(0,0,0, 25%), 85%, rgb(0,0,0, 100%) 100%),
      linear-gradient(90deg, rgb(39,43,58),rgb(39,43,58));

    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--primary-text-color);

    h1 {
      width: 100%;
      text-align: center;
      letter-spacing: 2%;
      font-weight: 800;
      font-size: 4rem;
      text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
      margin: 0;
    }
    h2 {
      width: 100%;
      text-align: center;
      letter-spacing: 3.5%;
      font-weight: 500;
      text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
      margin: 0;
    }
    content-section {
      display: block;
      position: absolute;
      top: 130px;
      right: 200px;
      border-radius: 50%;
      width: 400px;
      height: 400px;
      background-image:
      repeating-linear-gradient(0deg, rgba(255,255,255, 0.75) 0px, rgba(82,82,82, 0.75) 1px, transparent 1px, transparent 31px),
      repeating-linear-gradient(90deg, rgba(255,255,255, 0.75) 0px, rgba(56,61,82, 0.75) 1px, transparent 1px, transparent 31px);
      background-position: top left -1px;
      content-pointer {
        display: block;
        position: absolute;
        left: calc(31 * 4px);
        top: calc(30 * 4px);
        width: 30px;
        height: 31px;
        background: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(225, 225, 225) 85%, rgba(175, 175, 175) 100%);
      }

    }
    content-area {
      display: block;
      box-sizing: border-box;
      position: relative;
      width: 60%;
      height: 400px;
      margin: 100px 20% 0 20%;
      padding: 24px;
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 4px;
      box-shadow: 0 0 8px rgba(255,255,255,0.05);
      b {
        font-size: 160%;
      }
      p {
        margin: 8px 0 0 0;
      }
    }
    column-area {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      position: relative;
      width: 60%;
      height: 400px;
      margin: 48px 20% 0 20%;
      column-one, column-two {
        width: calc(50% - 24px);
        box-sizing: border-box;
        padding: 24px;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(255,255,255,0.05);
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
    small-pointer {
      display: block;
      position: absolute;
      left: 100px;
      top: 100px;
      width: 12px;
      height: 12px;
      background-color: rgba(255,255,255,0.75);
      box-shadow: 0 0 8px rgba(255,255,255,0.5);
      border-radius: 100%;
    }
    small-column {
      display: block;
      position: absolute;
      left: 160px;
      top: 250px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      box-shadow: 0 0 8px rgba(255,255,255,0.05);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}
