/* Reste */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Ref: Valhalla */
  /* https://colors.dopely.top/color-pedia/282c3c */
  --primary-text-color: #eaeaea;
  --blocks-top: calc(100vh - 29vw);
  --block-height: 2vw;

  /* System Font Stack */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  color: var(--primary-text-color);

  margin: 0;
  padding: 0;

  @supports not (background-attachment: fixed) {
    background-color: rgb(29, 32, 43);
    background-image: url("img/noise.png"),
      repeating-linear-gradient(
        6deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(82, 82, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      repeating-linear-gradient(
        96deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(56, 61, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      );
  }

  @supports (background-attachment: fixed) {
    background-image: url("img/noise.png"),
      repeating-linear-gradient(
        6deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(82, 82, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      repeating-linear-gradient(
        96deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(56, 61, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      radial-gradient(
        circle at center,
        rgb(0, 0, 0, 0%) 0%,
        rgb(0, 0, 0, 25%),
        85%,
        rgb(0, 0, 0, 100%) 100%
      ),
      linear-gradient(90deg, rgb(39, 43, 58), rgb(39, 43, 58));
    background-attachment: fixed;
  }

  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

main {
  display: block;
  width: min(80vw, 880px);
  height: 800vh;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);

  h1 {
    width: 100%;
    text-align: center;
    letter-spacing: 0.16vw;
    font-weight: 800;
    font-size: clamp(2rem, 4vw, 5rem);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  h2 {
    width: 100%;
    text-align: center;
    letter-spacing: clamp(0.16rem, 0.32vw, 0.3rem);
    font-weight: 500;
    font-size: clamp(0.9rem, 1.6vw, 1.2rem);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  page-one {
    h1 {
      font-size: clamp(4rem, 6vw, 8rem);
    }
    h2 {
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      letter-spacing: clamp(0.16rem, 0.32vw, 0.3rem);
    }
  }

  page-one,
  my-location,
  my-experience,
  page-four,
  page-five,
  skills-cloud,
  page-seven,
  page-eight {
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  skills-cloud {
    h1,
    h2 {
      width: max(50vw, 320px);
      display: flex;
      justify-content: space-around;
      font-size: max(1.6rem, 3vw);
      font-weight: 600;
      span {
        padding: 0.2vw 1.2vw;
        border-radius: 0.8vw;
        border: 1px solid rgba(56, 61, 82, 1);
      }
    }

    h2 {
      margin-top: 1.2vw;
      font-weight: 500;
      font-size: max(0.6rem, 1.2vw);
    }
  }
}

@supports (animation-timeline: view()) {
  building-block {
    display: block;
    position: fixed;
    width: 1vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
  }
  building-block:nth-of-type(1) {
    top: 21vw;
    left: 88vw;
    background-color: rgba(255, 255, 255, 0.53);
  }
  building-block:nth-of-type(2) {
    top: 18vw;
    left: 80vw;
    background-color: rgba(255, 255, 255, 0.88);
  }
  building-block:nth-of-type(3) {
    top: 6vw;
    left: 53vw;
    background-color: rgba(255, 255, 255, 0.94);
  }
  building-block:nth-of-type(4) {
    top: 5vw;
    left: 89vw;
    background-color: rgba(255, 255, 255, 0.54);
  }
  building-block:nth-of-type(5) {
    top: 17vw;
    left: 52vw;
    background-color: rgba(255, 255, 255, 0.43);
  }
  building-block:nth-of-type(6) {
    top: 2vw;
    left: 92vw;
    background-color: rgba(255, 255, 255, 0.76);
  }
  building-block:nth-of-type(7) {
    top: 21vw;
    left: 76vw;
    background-color: rgba(255, 255, 255, 0.32);
  }
  building-block:nth-of-type(8) {
    top: 19vw;
    left: 31vw;
    background-color: rgba(255, 255, 255, 0.68);
  }
  building-block:nth-of-type(9) {
    top: 9vw;
    left: 77vw;
    background-color: rgba(255, 255, 255, 0.26);
  }
  building-block:nth-of-type(10) {
    top: 10vw;
    left: 7vw;
    background-color: rgba(255, 255, 255, 0.56);
  }
  building-block:nth-of-type(11) {
    top: 13vw;
    left: 41vw;
    background-color: rgba(255, 255, 255, 0.73);
  }
  building-block:nth-of-type(12) {
    top: 14vw;
    left: 73vw;
    background-color: rgba(255, 255, 255, 0.69);
  }
  building-block:nth-of-type(13) {
    top: 13vw;
    left: 22vw;
    background-color: rgba(255, 255, 255, 0.38);
  }
  building-block:nth-of-type(14) {
    top: 5vw;
    left: 19vw;
    background-color: rgba(255, 255, 255, 0.68);
  }
  building-block:nth-of-type(15) {
    top: 4vw;
    left: 72vw;
    background-color: rgba(255, 255, 255, 0.56);
  }
  building-block:nth-of-type(16) {
    top: 5vw;
    left: 41vw;
    background-color: rgba(255, 255, 255, 0.37);
  }
  building-block:nth-of-type(17) {
    top: 7vw;
    left: 60vw;
    background-color: rgba(255, 255, 255, 0.15);
  }

  /* Block #1 */
  @keyframes building-block-one {
    0% {
      top: 21vw;
      left: 88vw;
      border-radius: 100%;
    }
    20%,
    100% {
      left: 16.7vw;
      top: calc(var(--blocks-top) + 4 * var(--block-height));
      width: 2vw;
      height: 2vw;
      border-radius: 0;
      box-shadow: none;
      background-color: white;
    }
  }
  building-block:nth-of-type(1) {
    animation: building-block-one ease-out;
    animation-timeline: scroll(root);
  }

  /* Block #2 */
  @keyframes building-block-two {
    0%,
    20% {
      top: 18vw;
      left: 80vw;
      width: 1vw;
      height: 1vw;
      border-radius: 100%;
    }
    25%,
    100% {
      left: 8.25vw;
      top: calc(100% - 23.1vw);
      width: 2vw;
      height: 2vw;
      border-radius: 0;
      box-shadow: none;
      background-color: white;
    }
  }
  building-block:nth-of-type(2) {
    animation: building-block-two ease-out;
    animation-timeline: scroll(root);
  }

  /* Block #3 */
  @keyframes building-block-three {
    0%,
    25% {
      top: 6vw;
      left: 53vw;
      width: 1vw;
      height: 1vw;
      border-radius: 100%;
    }
    30%,
    100% {
      left: 18.77vw;
      top: calc(100% - 16.76vw);
      width: 2vw;
      height: 2vw;
      border-radius: 0;
      box-shadow: none;
      background-color: white;
    }
  }
  building-block:nth-of-type(3) {
    animation: building-block-three ease-out;
    animation-timeline: scroll(root);
  }

  info-column {
    display: block;
    position: fixed;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
  }
  info-column:nth-of-type(1) {
    top: 12vh;
    left: 24vw;
    background-color: rgba(255, 255, 255, 0.12);
  }
  info-column:nth-of-type(2) {
    top: 5vw;
    left: 78vw;
    background-color: rgba(255, 255, 255, 0.15);
  }
  info-column:nth-of-type(3) {
    top: 18vw;
    left: 22vw;
    background-color: rgba(255, 255, 255, 0.07);
  }
  info-column:nth-of-type(4) {
    top: 19vw;
    left: 56vw;
    background-color: rgba(255, 255, 255, 0.07);
  }
  info-column:nth-of-type(5) {
    top: 22vw;
    left: 96vw;
    background-color: rgba(255, 255, 255, 0.16);
  }
  info-column:nth-of-type(6) {
    top: 24vw;
    left: 34vw;
    background-color: rgba(255, 255, 255, 0.19);
  }
  info-column:nth-of-type(7) {
    top: 13vw;
    left: 10vw;
    background-color: rgba(255, 255, 255, 0.12);
  }

  @keyframes info-spotlight-one {
    0%,
    10% {
      top: 12vh;
      left: 24vw;
      width: 2vw;
      height: 2vw;
      background-color: rgba(255, 255, 255, 0.12);
    }
    15% {
      top: calc(50% - 15vh);
      left: calc(50% - 15vh);
      width: 30vh;
      height: 30vh;
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 24px rgba(255, 255, 255, 0.04);
    }
    20%,
    100% {
      top: calc(50% - 15vh);
      left: calc(50% - 15vh);
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0 0 24px rgba(255, 255, 255, 0);
    }
  }
  info-column:nth-of-type(1) {
    animation: info-spotlight-one ease-out;
    animation-timeline: scroll(root);
  }

  @keyframes building-blocks {
    0% {
      top: 90vh;
      left: -32vw;
      width: 27vw;
      height: 27vw;
    }
    20% {
      top: var(--blocks-top);
      left: 4vw;
      width: 27vw;
      height: 27vw;
    }
    80% {
      top: var(--blocks-top);
      left: 4vw;
      width: 27vw;
      height: 27vw;
      border-radius: 50%;
    }
    100% {
      bottom: 0;
      left: -1vw;
      width: 104vw;
      height: 14.8vw;
      border-radius: 0;
    }
  }
  building-blocks {
    animation: building-blocks ease-out;
    animation-timeline: scroll(root);
  }

  building-blocks {
    display: block;
    position: fixed;
    bottom: 7vw;
    left: 9vw;
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    background-image: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0px,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5) 0px,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 0.068vw,
        transparent 2.11vw
      );
    background-position: top left -1px;
  }

  @keyframes page-one-fade {
    0% {
      opacity: 1;
    }
    6.25%,
    100% {
      opacity: 0;
    }
  }
  @keyframes my-location-fade {
    0%,
    15.625% {
      opacity: 1;
    }
    21%,
    100% {
      opacity: 0;
    }
  }
  page-one {
    animation: page-one-fade ease-out;
    animation-timeline: scroll(root);
  }
  my-location {
    animation: my-location-fade ease-out;
    animation-timeline: scroll(root);
  }
}

nav {
  display: flex;
  position: fixed;
  top: max(16px, 2vh, 2vw);
  width: 100%;
  justify-content: center;
  gap: 2vw;
  z-index: 1;
  a {
    color: white;
    text-decoration: none;
    font-size: min(2.4vw, 1rem);
    padding: 0.5vw 0;
  }
  a[href="#"] {
    background-color: rgba(56, 61, 82, 1);
    border: 1px solid white;
    padding: 0 1vw;
    border-radius: 4vw;
    img {
      width: max(32px, 2.2vw);
      height: max(32px, 2.2vw);
    }
  }
  a[href="/lets-build"] {
    border-radius: 4vw;
    padding: 0.5vw 1vw;
    color: rgb(56, 61, 82);
    background-color: white;
    box-shadow: 0 0 0.8vw rgba(255, 255, 255, 0.4);
    font-weight: 600;
    text-decoration: none;
  }
}
