/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Ref: Valhalla */
  /* https://colors.dopely.top/color-pedia/282c3c */
  --primary-text-color: #efefef;

  --blocks-offset-left: 0px;
  --blocks-offset-top: 0px;
  --block-width: 25.5px;
  --block-height: 25.5px;
  --block-spacing: 2px;
  @media (max-width: 992px) {
    --block-width: 19.125px;
    --block-height: 19.125px;
  }
  @media (max-width: 736px) {
    --block-width: 12.75px;
    --block-height: 12.75px;
  }
  @media (max-width: 500px) {
    --block-width: 6.375px;
    --block-height: 6.375px;
  }

  --blocks-phase-one-top: calc(100dvh - 8 * var(--block-height));
  --blocks-phase-one-left: calc(98vw - 9 * var(--block-width));

  --blocks-phase-two-top: 10vh;
  --blocks-phase-two-left: calc(1 * var(--block-width));

  --blocks-phase-three-top: 10vh;
  --blocks-phase-three-left: calc(98vw - 9 * var(--block-width));

  --blocks-phase-four-top: calc(100dvh - 9 * var(--block-height));
  --blocks-phase-four-left: calc(1 * var(--block-width));

  @media (max-width: 500px) {
    --blocks-phase-one-left: calc(95vw - 9 * var(--block-width));
    --blocks-phase-two-left: 0px;
    --blocks-phase-three-left: calc(97vw - 9 * var(--block-width));
    --blocks-phase-four-left: calc(1 * var(--block-width));

    --blocks-phase-one-top: calc(100dvh - 10 * var(--block-height));
    --blocks-phase-two-top: 12dvh;
    --blocks-phase-three-top: 12dvh;
    --blocks-phase-four-top: calc(100dvh - 11 * var(--block-height));
  }

  /* System Font Stack */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  color: var(--primary-text-color);

  margin: 0;
  padding: 0;

  @supports not (background-attachment: fixed) {
    background-color: rgb(29, 32, 43);
    background-image: url("img/noise.png"),
      repeating-linear-gradient(
        6deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(82, 82, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      repeating-linear-gradient(
        96deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(56, 61, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      );
  }

  @supports (background-attachment: fixed) {
    background-image: url("img/noise.png"),
      repeating-linear-gradient(
        6deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(82, 82, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      repeating-linear-gradient(
        96deg,
        rgba(56, 61, 82, 0.35) 0px,
        rgba(56, 61, 82, 0.35) 0.068vw,
        transparent 0.068vw,
        transparent 2.11vw
      ),
      radial-gradient(
        circle at center,
        rgb(0, 0, 0, 0%) 0%,
        rgb(0, 0, 0, 25%),
        85%,
        rgb(0, 0, 0, 100%) 100%
      ),
      linear-gradient(90deg, rgb(39, 43, 58), rgb(39, 43, 58));
    background-attachment: fixed;
  }

  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

main {
  display: block;
  width: min(80vw, 880px);
  height: fit-content;
  margin: 0 auto;

  h1 {
    width: 80%;
    text-align: center;
    letter-spacing: 0.16vw;
    font-weight: 800;
    font-size: clamp(2rem, 4vw, 5rem);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  h2 {
    width: 80%;
    text-align: center;
    letter-spacing: clamp(0.16rem, 0.32vw, 0.3rem);
    font-weight: 500;
    font-size: clamp(0.9rem, 1.6vw, 1.2rem);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 0 0 1vw 0;
  }

  h3 {
    width: 60%;
    text-align: center;
    letter-spacing: clamp(0.04rem, 0.08vw, 0.075rem);
    line-height: 1.4vw;
    font-weight: 200;
    font-size: clamp(0.6rem, 1.2vw, 0.9rem);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  page-one {
    h1 {
      font-size: clamp(4rem, 6vw, 8rem);
    }
    h2 {
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      letter-spacing: clamp(0.16rem, 0.32vw, 0.3rem);
    }
  }

  page-one,
  my-location,
  my-experience,
  page-four,
  page-five,
  skills-cloud,
  page-six {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  page-six {
    h2 {
      display: flex;
      justify-content: space-between;
      @media (max-width: 500px) {
        width: fit-content;
        flex-direction: column;
        text-align: left;
        margin-top: 12px;
      }
      a {
        margin-bottom: 12px;
        text-decoration: none;
        color: white;
        margin-right: 16px;
      }
      img {
        position: relative;
        top: 6px;
        margin-right: 8px;
      }
    }
  }

  skills-cloud {
    h1,
    h2 {
      width: max(50vw, 320px);
      display: flex;
      justify-content: space-around;
      font-size: max(1.6rem, 3vw);
      font-weight: 600;
      span {
        padding: 0.2vw 1.2vw;
        border-radius: 0.8vw;
        border: 1px solid rgba(56, 61, 82, 1);
        &.and-more {
          padding: 0.2vw 0.8vw;
          min-width: fit-content;
          border: none;
        }
      }
    }

    h2 {
      margin-top: 1.2vw;
      font-weight: 500;
      font-size: max(0.6rem, 1.2vw);
    }
  }
}

building-block {
  display: block;
  position: fixed;
  width: 1vw;
  height: 1vw;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}
building-block:nth-of-type(1) {
  left: 88vw;
  top: 63vh;
  background-color: rgba(255, 255, 255, 0.27);
}
building-block:nth-of-type(2) {
  left: 51vw;
  top: 36vh;
  background-color: rgba(255, 255, 255, 0.44);
}
building-block:nth-of-type(3) {
  left: 63vw;
  top: 72vh;
  background-color: rgba(255, 255, 255, 0.57);
}
building-block:nth-of-type(4) {
  left: 7vw;
  top: 64vh;
  background-color: rgba(255, 255, 255, 0.26);
}
building-block:nth-of-type(5) {
  left: 52vw;
  top: 82vh;
  background-color: rgba(255, 255, 255, 0.21);
}
building-block:nth-of-type(6) {
  left: 21vw;
  top: 45vh;
  background-color: rgba(255, 255, 255, 0.38);
}
building-block:nth-of-type(7) {
  left: 35vw;
  top: 79vh;
  background-color: rgba(255, 255, 255, 0.18);
}
building-block:nth-of-type(8) {
  left: 26vw;
  top: 22vh;
  background-color: rgba(255, 255, 255, 0.34);
}
building-block:nth-of-type(9) {
  left: 71vw;
  top: 17vh;
  background-color: rgba(255, 255, 255, 0.13);
}
building-block:nth-of-type(10) {
  left: 74vw;
  top: 91vh;
  background-color: rgba(255, 255, 255, 0.28);
}
building-block:nth-of-type(11) {
  left: 66vw;
  top: 59vh;
  background-color: rgba(255, 255, 255, 0.36);
}
building-block:nth-of-type(12) {
  left: 90vw;
  top: 35vh;
  background-color: rgba(255, 255, 255, 0.34);
}
building-block:nth-of-type(13) {
  left: 42vw;
  top: 19vh;
  background-color: rgba(255, 255, 255, 0.19);
}
building-block:nth-of-type(14) {
  left: 19vw;
  top: 82vh;
  background-color: rgba(255, 255, 255, 0.34);
}
building-block:nth-of-type(15) {
  left: 28vw;
  top: 60vh;
  background-color: rgba(255, 255, 255, 0.28);
}
building-block:nth-of-type(16) {
  left: 81vw;
  top: 31vh;
  background-color: rgba(255, 255, 255, 0.14);
}
building-block:nth-of-type(17) {
  left: 74vw;
  top: 42vh;
  background-color: rgba(255, 255, 255, 0.16);
}

/* Block #1 */
@keyframes building-block-one {
  0% {
    left: 88vw;
    top: 63vh;
    border-radius: 100%;
  }
  16.5%,
  27.5% {
    /* (1, 1) */
    left: calc(var(--blocks-phase-one-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    background-color: white;
  }
  41.5%,
  52.5% {
    /* (7, 1) */
    left: calc(var(--blocks-phase-two-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    background-color: white;
  }
  66.5%,
  77.5% {
    /* (3, 1) */
    left: calc(var(--blocks-phase-three-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    background-color: white;
  }
  91.5%,
  100% {
    /* (1, 1) */
    left: calc(var(--blocks-phase-four-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    background-color: white;
  }
}
building-block:nth-of-type(1) {
  animation: building-block-one ease-out;
  animation-timeline: scroll(root);
}

/* Block #2 */
@keyframes building-block-two {
  0% {
    left: 51vw;
    top: 36vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  17%,
  27.5% {
    /* (2, 1) */
    left: calc(var(--blocks-phase-one-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  42%,
  52.5% {
    /* (6, 1) */
    left: calc(var(--blocks-phase-two-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  67%,
  77.5% {
    /* (4, 1) */
    left: calc(var(--blocks-phase-three-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (1, 3) */
    left: calc(var(--blocks-phase-four-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(2) {
  animation: building-block-two ease-out;
  animation-timeline: scroll(root);
}

/* Block #3 */
@keyframes building-block-three {
  0% {
    left: 63vw;
    top: 72vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  17.5%,
  27.5% {
    /* (1, 2) */
    left: calc(var(--blocks-phase-one-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  42.5%,
  52.5% {
    /* (5, 1) */
    left: calc(var(--blocks-phase-two-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  67.5%,
  77.5% {
    /* (5, 2) */
    left: calc(var(--blocks-phase-three-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (1, 4) */
    left: calc(var(--blocks-phase-four-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(3) {
  animation: building-block-three ease-out;
  animation-timeline: scroll(root);
}

/* Block #4 */
@keyframes building-block-four {
  0% {
    left: 7vw;
    top: 64vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  18%,
  27.5% {
    /* (1, 3) */
    left: calc(var(--blocks-phase-one-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  43%,
  52.5% {
    /* (4, 1) */
    left: calc(var(--blocks-phase-two-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  68%,
  77.5% {
    /* (4, 2) */
    left: calc(var(--blocks-phase-three-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (1, 5) */
    left: calc(var(--blocks-phase-four-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(4) {
  animation: building-block-four ease-out;
  animation-timeline: scroll(root);
}

/* Block #5 */
@keyframes building-block-five {
  0% {
    left: 52vw;
    top: 82vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  18.5%,
  27.5% {
    /* (1, 4) */
    left: calc(var(--blocks-phase-one-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  43.5%,
  52.5% {
    /* (6, 2) */
    left: calc(var(--blocks-phase-two-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  68.5%,
  77.5% {
    /* (3, 2) */
    left: calc(var(--blocks-phase-three-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (1, 6) */
    left: calc(var(--blocks-phase-four-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(5) {
  animation: building-block-five ease-out;
  animation-timeline: scroll(root);
}

/* Block #6 */
@keyframes building-block-six {
  0% {
    left: 21vw;
    top: 45vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  19%,
  27.5% {
    /* (1, 5) */
    left: calc(var(--blocks-phase-one-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  44%,
  52.5% {
    /* (5, 2) */
    left: calc(var(--blocks-phase-two-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  69%,
  77.5% {
    /* (2, 2) */
    left: calc(var(--blocks-phase-three-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (2, 5) */
    left: calc(var(--blocks-phase-four-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(6) {
  animation: building-block-six ease-out;
  animation-timeline: scroll(root);
}

/* Block #7 */
@keyframes building-block-seven {
  0% {
    left: 35vw;
    top: 79vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  19.5%,
  27.5% {
    /* (2, 5) */
    left: calc(var(--blocks-phase-one-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    background-color: white;
  }
  44.5%,
  52.5% {
    /* (4, 2) */
    left: calc(var(--blocks-phase-two-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    background-color: white;
  }
  69.5%,
  77.5% {
    /* (6, 3) */
    left: calc(var(--blocks-phase-three-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    background-color: white;
  }
  91.5%,
  100% {
    /* (2, 6) */
    left: calc(var(--blocks-phase-four-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    border-radius: 0;
    box-shadow: none;
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    background-color: white;
  }
}
building-block:nth-of-type(7) {
  animation: building-block-seven ease-out;
  animation-timeline: scroll(root);
}

/* Block #8 */
@keyframes building-block-eight {
  0% {
    left: 26vw;
    top: 22vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  20%,
  27.5% {
    /* (4, 2) */
    left: calc(var(--blocks-phase-one-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  45%,
  52.5% {
    /* (3, 2) */
    left: calc(var(--blocks-phase-two-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  70%,
  77.5% {
    /* (5, 3) */
    left: calc(var(--blocks-phase-three-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (3, 2) */
    left: calc(var(--blocks-phase-four-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(8) {
  animation: building-block-eight ease-out;
  animation-timeline: scroll(root);
}

/* Block #9 */
@keyframes building-block-nine {
  0% {
    left: 71vw;
    top: 17vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  20.5%,
  27.5% {
    /* (4, 4) */
    left: calc(var(--blocks-phase-one-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  45.5%,
  52.5% {
    /* (5, 3) */
    left: calc(var(--blocks-phase-two-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  70.5%,
  77.5% {
    /* (2, 3) */
    left: calc(var(--blocks-phase-three-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (3, 4) */
    left: calc(var(--blocks-phase-four-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(9) {
  animation: building-block-nine ease-out;
  animation-timeline: scroll(root);
}

/* Block #10 */
@keyframes building-block-ten {
  0% {
    left: 74vw;
    top: 91vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  21.5%,
  27.5% {
    /* (6, 1) */
    left: calc(var(--blocks-phase-one-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  46.5%,
  52.5% {
    /* (4, 3) */
    left: calc(var(--blocks-phase-two-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  61.5%,
  77.5% {
    /* (1, 3) */
    left: calc(var(--blocks-phase-three-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (3, 5) */
    left: calc(var(--blocks-phase-four-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(10) {
  animation: building-block-ten ease-out;
  animation-timeline: scroll(root);
}

/* Block #11 */
@keyframes building-block-eleven {
  0% {
    left: 66vw;
    top: 59vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  22%,
  27.5% {
    /* (7, 1) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 1 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(1 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  47%,
  52.5% {
    /* (3, 3) */
    left: calc(var(--blocks-phase-two-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  72%,
  77.5% {
    /* (5, 4) */
    left: calc(var(--blocks-phase-three-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (3, 6) */
    left: calc(var(--blocks-phase-four-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(11) {
  animation: building-block-eleven ease-out;
  animation-timeline: scroll(root);
}

/* Block #12 */
@keyframes building-block-twelve {
  0% {
    left: 90vw;
    top: 35vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  22.5%,
  27.5% {
    /* (7, 2) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  47.5%,
  52.5% {
    /* (2, 3) */
    left: calc(var(--blocks-phase-two-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  72.5%,
  77.5% {
    /* (4, 4) */
    left: calc(var(--blocks-phase-three-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (4, 5) */
    left: calc(var(--blocks-phase-four-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(12) {
  animation: building-block-twelve ease-out;
  animation-timeline: scroll(root);
}

/* Block #13 */
@keyframes building-block-thirteen {
  0% {
    left: 90vw;
    top: 35vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  23%,
  27.5% {
    /* (7, 3) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  48%,
  52.5% {
    /* (4, 4) */
    left: calc(var(--blocks-phase-two-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  73%,
  77.5% {
    /* (3, 4) */
    left: calc(var(--blocks-phase-three-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (4, 6) */
    left: calc(var(--blocks-phase-four-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(13) {
  animation: building-block-thirteen ease-out;
  animation-timeline: scroll(root);
}

/* Block #14 */
@keyframes building-block-fourteen {
  0% {
    left: 19vw;
    top: 82vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  23.5%,
  27.5% {
    /* (7, 4) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  48.5%,
  52.5% {
    /* (3, 4) */
    left: calc(var(--blocks-phase-two-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  73.5%,
  77.5% {
    /* (2, 4) */
    left: calc(var(--blocks-phase-three-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (5, 3) */
    left: calc(var(--blocks-phase-four-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 3 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(3 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(14) {
  animation: building-block-fourteen ease-out;
  animation-timeline: scroll(root);
}

/* Block #15 */
@keyframes building-block-fifteen {
  0% {
    left: 28vw;
    top: 60vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  24%,
  27.5% {
    /* (7, 5) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  49%,
  52.5% {
    /* (2, 4) */
    left: calc(var(--blocks-phase-two-left) + 2 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(2 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  74%,
  77.5% {
    /* (4, 5) */
    left: calc(var(--blocks-phase-three-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (5, 6) */
    left: calc(var(--blocks-phase-four-left) + 5 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(5 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(15) {
  animation: building-block-fifteen ease-out;
  animation-timeline: scroll(root);
}

/* Block #16 */
@keyframes building-block-sixteen {
  0% {
    left: 81vw;
    top: 31vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  24.5%,
  27.5% {
    /* (6, 5) */
    left: calc(var(--blocks-phase-one-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  49.5%,
  52.5% {
    /* (1, 4) */
    left: calc(var(--blocks-phase-two-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  74.5%,
  77.5% {
    /* (3, 5) */
    left: calc(var(--blocks-phase-three-left) + 3 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(3 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (4, 5) */
    left: calc(var(--blocks-phase-four-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(16) {
  animation: building-block-sixteen ease-out;
  animation-timeline: scroll(root);
}

/* Block #17 */
@keyframes building-block-seventeen {
  0% {
    left: 74vw;
    top: 42vh;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
  }
  25%,
  27.5% {
    /* (7, 5) */
    left: calc(var(--blocks-phase-one-left) + 7 * var(--block-width));
    top: calc(var(--blocks-phase-one-top) + 5 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(7 * var(--block-spacing));
    margin-top: calc(5 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  50%,
  52.5% {
    /* (1, 4) */
    left: calc(var(--blocks-phase-two-left) + 1 * var(--block-width));
    top: calc(var(--blocks-phase-two-top) + 4 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(1 * var(--block-spacing));
    margin-top: calc(4 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  75%,
  77.5% {
    /* (4, 2) */
    left: calc(var(--blocks-phase-three-left) + 4 * var(--block-width));
    top: calc(var(--blocks-phase-three-top) + 2 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(4 * var(--block-spacing));
    margin-top: calc(2 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
  91.5%,
  100% {
    /* (6, 6) */
    left: calc(var(--blocks-phase-four-left) + 6 * var(--block-width));
    top: calc(var(--blocks-phase-four-top) + 6 * var(--block-height));
    width: var(--block-width);
    height: var(--block-height);
    margin-left: calc(6 * var(--block-spacing));
    margin-top: calc(6 * var(--block-spacing));
    border-radius: 0;
    box-shadow: none;
    background-color: white;
  }
}
building-block:nth-of-type(17) {
  animation: building-block-seventeen ease-out;
  animation-timeline: scroll(root);
}

/* Tried to come up with a predictable formula based on each
   * "page" being 1/8 (12.5%) of the total height but ended up
   * doing it by feel.
   *
   * Find the % of the page where the text should disappear and
   * start the fade 2% before that.
   *
   * Will have to manually refactor if pages are deleted/added.
   *
   * ¯\_(ツ)_/¯
   */
@keyframes page-one-fade {
  0%,
  4% {
    opacity: 1;
  }
  6%,
  100% {
    opacity: 0;
  }
}
@keyframes my-location-fade {
  0%,
  21% {
    opacity: 1;
  }
  23%,
  100% {
    opacity: 0;
  }
}
@keyframes my-experience-fade {
  0%,
  37% {
    opacity: 1;
  }
  39%,
  100% {
    opacity: 0;
  }
}
@keyframes page-four-fade {
  0%,
  53.5% {
    opacity: 1;
  }
  55.5%,
  100% {
    opacity: 0;
  }
}
@keyframes page-five-fade {
  0%,
  69.5% {
    opacity: 1;
  }
  71.5%,
  100% {
    opacity: 0;
  }
}
@keyframes page-five-fade {
  0%,
  69.5% {
    opacity: 1;
  }
  71.5%,
  100% {
    opacity: 0;
  }
}
@keyframes skills-cloud-fade {
  0%,
  87% {
    opacity: 1;
  }
  89%,
  100% {
    opacity: 0;
  }
}
page-one {
  animation: page-one-fade ease-out;
  animation-timeline: scroll(root);
}
my-location {
  animation: my-location-fade ease-out;
  animation-timeline: scroll(root);
}
my-experience {
  animation: my-experience-fade ease-out;
  animation-timeline: scroll(root);
}
page-four {
  animation: page-four-fade ease-out;
  animation-timeline: scroll(root);
}
page-five {
  animation: page-five-fade ease-out;
  animation-timeline: scroll(root);
}
skills-cloud {
  animation: skills-cloud-fade ease-out;
  animation-timeline: scroll(root);
}

/* Navigation */
nav {
  display: flex;
  position: fixed;
  top: clamp(16px, 2vh, 2vw);
  width: 1152px;
  left: calc(50% - (1152px / 2));
  justify-content: space-between;
  z-index: 1;

  nav-items {
    display: flex;
    justify-content: space-around;
    width: 768px;

    label[for="nav-items-dropdown"],
    input[name="nav-items-dropdown"] {
      display: none;
    }
  }

  a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: min(2.4vw, 1rem);
    padding: 0.5vw 0;
  }
  a[href="#prisenco"] {
    background-color: rgba(56, 61, 82, 1);
    border: 1px solid white;
    padding: 0.5vw 1vw 0 1vw;
    min-width: fit-content;
    border-radius: 8px;
    img {
      width: min(16px, 2.2vw);
      height: min(16px, 2.2vw);
      margin-right: 4px;
    }
  }
  a[href="#lets-build"] {
    border-radius: 8px;
    padding: 0.5vw 1vw;
    min-height: fit-content;
    min-width: fit-content;
    color: rgb(56, 61, 82);
    background-color: white;
    box-shadow: 0 0 0.8vw rgba(255, 255, 255, 0.4);
    font-weight: 600;
    text-decoration: none;
  }
  a[href="#lets-build"].mobile {
    display: none;
  }

  @media (max-width: 1280px) {
    width: 896px;
    left: calc(50% - (896px / 2));
    justify-content: space-around;
    nav-items {
      width: 640px;
    }
  }

  @media (max-width: 992px) {
    width: 672px;
    left: calc(50% - (672px / 2));
    justify-content: space-around;
  }

  @media (max-width: 736px) {
    width: 95%;
    left: 2.5%;
    justify-content: space-around;
    nav-items {
      width: fill-content;
    }
    a[href="#lets-build"].mobile {
      display: block;
    }
    a[href="#lets-build"].desktop {
      display: none;
    }
  }

  @media (max-width: 500px) {
    a[href="#prisenco"],
    a[href="#lets-build"].mobile {
      font-size: 1.2rem;
    }
    a[href="#prisenco"] {
      padding: 0.5vw 4vw;
      img {
        width: 16px;
        height: 16px;
      }
    }
    a[href="#lets-build"].mobile {
      padding: 0.5vw 6vw;
    }
    nav-items {
      display: none;
    }
  }
}
